body {
    padding: 30px 45px;
    background-color: beige;
}
label.error {
    color: red;
}
h1 {
    margin-bottom: 30px;
}
#registration {
    margin-bottom: 50px;
}
input {
    font-weight: lighter;
    background-color: aliceblue;
}
select {
    font-weight: lighter;
    background-color: aliceblue;
}
.button {
    background-color:bisque;
}
.button:hover {
    cursor: pointer;
}
.green {
    color: green;
}
